<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Olvido la contraseña?</h3>

      <div class="formGroup">
        <input type="email" class="form-control" placeholder="Dirección de email" #passwordResetEmail required>
      </div>

      <div class="formGroup">
        <input type="submit" class="btn btn-primary btn-block" value="Reestablecer"
          (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)">
      </div>
      <button type="button" class="btn btn-block btn-success" routerLink="/sign-in">
        Volver
      </button>
    </div>

  </div>
</div>
